.container {
    margin: 0;
    padding: 0;
}

.header {
    height: 2.5rem;
    width: auto;
    background-color: #e5e5e5;
    border-bottom: 2px solid #c6c7c8;
}

.tree {
    margin-left: 5rem;
}

.node {
    margin-left: 0.5rem;
}

.tree-tltle {
    font-size: 2.2rem;
    font-weight: bold;
}

.button {
    border: none;
    padding: 0;
    background-color: transparent;
    height: 1rem;
    width: 1rem;
}

.empty {
    font-style: italic;
}

.full {
    font-weight: bold;
    cursor: pointer;
}

.open {
    .button::before {
        content: '-';
        font-weight: bold;
    }
}

.close {
    .button::before {
        content: '+';
        font-weight: bold;
    }
    .close-container {
        display: none;
    }
}

.hide {
    display: none;
}